@* Required *@  
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="test-button">
    <MudTooltip Text="Does this work?" Delay="400">
        <MudButton Variant="Variant.Filled" Color="Color.Primary">Test</MudButton>
    </MudTooltip>
</div>


@inherits LayoutComponentBase
@code {
    protected override void OnInitialized()
    {
        
    }
}
